.btn {
    width: 165px;
    border-radius: 60px;
    border: 2px solid #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Montserrat", "Arial", sans-serif;
    padding: 12px;
    background-color: transparent;
    color: #FFFFFF;
    margin: 0 15px 0 0;
}