.hero {
  
  padding: 43px 0 0;
}

.hero__heading {
 margin: 0 auto;
 text-align: center;
  font-family: "Ardeco", "Arial", sans-serif;
  font-size: 70px;
  line-height: 70px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 48px;
}

.hero__image {
  margin: 48px 0 0;
  width: 100%;
}
